# 0 Imports

In [38]:
import pandas as pd
import numpy as np
# import matplotlib.pyplot as plt
# import seaborn as sns
# from sklearn import linear_model
# from sklearn.metrics import mean_squared_error, r2_score, accuracy_score, confusion_matrix, classification_report, recall_score, matthews_corrcoef, mean_absolute_error
# from sklearn.preprocessing import StandardScaler
# from sklearn.model_selection import train_test_split
# from statsmodels.stats.outliers_influence import variance_inflation_factor

In [39]:
data = pd.read_csv("../dat/dips/DIPS_Data.csv", sep = ",", low_memory = False)


# 1 Data Cleaning

## 1.1 Predictors and target

In [40]:
data.head()

,code,okayt1,okayt2,teilt2,intnr,datum,s1,s2,s3,s4,...,alk30,litbiery,litweiny,litspiry,litalky,grambiry,gramweiy,gramspiy,gramalky,filter_$
0,33,1,1,1,5,9/6/1996,74,1,3,1,...,0,0,.2,0,.2,0,20,0,20,1
1,35,1,1,1,21,9/21/1996,74,1,3,1,...,0,5.6,.375,.0045,5.9795,224,37.5,1.8,263.3,1
2,37,2,1,1,16,9/17/1996,74,2,3,1,...,0,.0625,.05,.00703125,.11953125,2.5,5,2.8125,10.3125,0
3,51,1,1,1,5,9/9/1996,75,1,3,1,...,0,0,.3,.005625,.305625,0,30,2.25,32.25,1
4,56,1,1,1,10,5/30/1997,75,1,3,1,...,1,.75,2.2,.01125,2.96125,30,220,4.5,254.5,1

### Predictors

In [41]:
predictors = ["whi_ges", "soz_ges", "gke_ges", "lzh_ges",
              "ile_sum1", "ile_sum2", "woc_gesp", "woc_gese",
              "asi_ges", "bsq_ges", "das_ges", "scl_gsi",
              # "scl_pst", "scl_psdi"
              ]

predictors_y = ["whi_gesy", "soz_gesy", "gke_gesy", "lzh_gesy",
                "asi_gesy", "bsq_gesy", "das_gesy", "scl_gsiy",
                # "scl_psty"
                ]

predictor_names = ["Positive mental health",    #whi_ges
                   "Social support",            #soz_ges (SAVE)
                   "General self-efficacy",     #gke_ges SAVE
                   "Life satisfaction",         #lzh_ges SAVE
                   "Stress 1",                  #ile_sum1 SAVE (life events?)
                   "Stress 2",                  #ile_sum2 SAVE (daily hassles?)
                   "Problem-focused coping",    #woc_gesp SAVE
                   "Emotion-focused coping",    #woc_gese SAVE
                   "Anxiety sensitivity",       #asi_ges SAVE
                   "Fear of Bodily Sensations", #bsq_ges SAVE
                   "Dysfunctional attitudes",   #das_ges SAVE
                   "General Psychopathology: Global Severity Index (GSI)",    #scl_gsi SAVE
                   # "General Psychopathology: Positive Symptom Total (PST)",    #scl_pst SAVE
                   # "General Psychopathology: Positive Symptom Distress Index (PSDI)"    #scl_psdi SAVE
                   ]

extra_preds = ["fqn_ges",
               # "fq_ag", "fq_s", "fq_bi",
               "bdi_ges", "bai_ges",
               # "bdi_bel", "bai_bel",
               "ifa_int", "ifa_ext"]

extra_preds_y = ["fqn_gesy",
                 # "fq_agy", "fq_sy", "fq_biy",
                 "bdi_gesy", "bai_gesy",
                 # "bdi_bely", "bai_bely",
                 "ifa_inty", "ifa_exty"]


extra_preds_names = ["Phobia total",                     #fqn_ges (SAVE)
                     # "Agoraphobia",                      #fq_ag
                     # "Social phobia",                    #fq_s
                     # "Blood/Injection phobia",           #fq_bi
                     "Beck Depression Inventory",        #bdi_ges (SAVE)
                     # "Dysfunctional beliefs (from BDI)", #bdi_bel (SAVE)
                     "Beck Anxiety Inventory",           #bai_ges (SAVE)
                     # "Dysfunctional beliefs (from BAI)", #bai_bel (SAVE)
                     "Internal focus of attention", #ifa_int
                     "External focus of attention" #ifa_ext
                     ]

demographics = ["alter", "bild", "screen", "bmi", "bmi_kat", "ses_kom"]

demographics_y = ["bmiy", "bmi_katy"]

### Target

In [42]:
# get all columns that start with "hpi"
hpi_cols = [col for col in data.columns if col.startswith('hpi')]

# create a new column with 1 if any rows have a value of 2 in at least one of the columns starting with "hpi" and 0 if values in all columns starting with "hpi" are all 0, otherwise NA
# def classify_row(row):
#     if (row == 2).any():
#         return 1
#     elif (row == 0).all():
#         return 0
#     else:
#         return np.nan
#
# data['hpi'] = data[hpi_cols].apply(classify_row, axis=1)

# column that counts the number of columns with a value of 0
data['hpi_0_count'] = data[hpi_cols].apply(lambda x: (x == 0).sum(), axis=1)
# describe the new column
data['hpi_0_count'].describe()

# new column that is 0 if "hpig" is 0 and NA otherwise
data['hpi_0'] = np.where(data['hpig'] == 0, 0, np.nan)
data['hpi_0'].describe()

data['hpi'] = data[hpi_cols].apply(lambda x: 1 if any(x == 2) else 0, axis = 1)

# count the number of rows with a value of 1 in the new column
data['hpi'].value_counts(normalize = True)

hpi
0    0.721717
1    0.278283
Name: proportion, dtype: float64

In [45]:
data = data[predictors + extra_preds + demographics + predictors_y + extra_preds_y + demographics_y + ["hpi"]]

,whi_ges,soz_ges,gke_ges,lzh_ges,ile_sum1,ile_sum2,woc_gesp,woc_gese,asi_ges,bsq_ges,...,das_gesy,scl_gsiy,fqn_gesy,bdi_gesy,bai_gesy,ifa_inty,ifa_exty,bmiy,bmi_katy,hpi
0,6,3.45454545454545,24,2.66666666666667,10,11,30,22,25,2.29411764705882,...,77,.388888888888889,10,8,1,2,10,28.5779606767261,3,0
1,3,4.18181818181818,28,4,6,3,34,12,16,1.58823529411765,...,136,.1,14,5,5,0,6,21.192742415229,2,0
2,,,,,,,,,,,...,108,.0888888888888889,6,1,2,0,6,19.4931773879142,2,0
3,5,3.71428571428571,30,3.25,2,5,44,32,14,2.88235294117647,...,128,.622222222222222,34,6,5,2,4,20.6851502395123,2,1
4,10,4.04545454545454,27,3,1,8,28,42,15,1.64705882352941,...,119,.833333333333333,8,6,10,8,16,22.5308641975309,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1533,1,4,26,4.08333333333333,4,1,25,23,21,2.11764705882353,...,109,.111111111111111,13,4,2,0,8,21.9671201814059,2,0
1534,1,4.13636363636364,27,3.66666666666667,6,4,32,30,3,1.05882352941176,...,89,.188888888888889,11,0,1,0,2,21.6216216216216,2,0
1535,2,3.54545454545455,30,3.41666666666667,4,6,25,31,14,2,...,126,.311111111111111,6,6,6,0,10,17.7154195011338,1,0
1536,0,4.72727272727273,24,3.81818181818182,4,5,32,29,17,2.35294117647059,...,92,.0888888888888889,5,0,1,0,8,24.8015873015873,2,0
1537,1,4.22727272727273,12,3.75,5,2,44,17,7,1,...,107,.222222222222222,24,2,0,0,6,21.3839419960573,2,1

## 1.2 Missing values

In [46]:
data = data.replace(" ", np.nan)

In [50]:
for col in data.columns:
    print(data[col].value_counts())

whi_ges
1     396
0     332
2     261
3     176
4      96
5      60
6      46
7      23
8      14
10     11
9       7
11      4
12      1
13      1
Name: count, dtype: int64
soz_ges
4.77272727272727    77
4.72727272727273    74
4.86363636363636    72
4.68181818181818    72
4.54545454545454    71
                    ..
3.8                  1
4.42857142857143     1
2.59090909090909     1
1.86363636363636     1
3.47619047619048     1
Name: count, Length: 91, dtype: int64
gke_ges
30    166
29    154
28    132
27    120
31    102
25    101
26    100
32     83
24     69
34     61
33     55
23     44
35     43
22     33
36     32
20     21
21     21
37     20
39     13
19     10
18      9
38      8
17      7
40      6
16      5
15      4
14      3
12      2
10      1
13      1
11      1
Name: count, dtype: int64
lzh_ges
3.83333333333333    111
4                    89
3.75                 89
3.5                  86
3.58333333333333     79
                   ...
1.09090909090909      1
4.63636363636364      1
2.54545454545455      1
3.7                   1
3.8                   1
Name: count, Length: 66, dtype: int64
ile_sum1
3     227
4     206
2     203
5     169
1     141
6     141
0      86
7      76
8      55
9      52
10     28
11     22
13     11
15      4
12      4
17      1
14      1
Name: count, dtype: int64
ile_sum2
4     195
5     186
3     184
2     182
6     149
1     136
7     109
0      91
8      78
9      44
10     34
11     21
13      9
12      8
14      3
15      2
Name: count, dtype: int64
woc_gesp
29    60
34    55
31    53
24    52
30    50
27    46
32    44
40    42
39    41
28    40
25    40
35    39
22    38
16    37
26    36
38    34
36    34
23    34
37    33
33    32
21    32
43    31
17    31
41    31
42    28
20    28
12    25
18    24
15    20
45    19
44    18
13    18
46    17
14    17
10    16
47    15
11    13
19    12
49    10
51    10
6      9
52     8
4      8
0      7
50     7
9      6
8      6
55     6
48     6
2      5
7      5
3      4
5      4
56     3
53     3
54     3
58     2
62     2
1      2
60     2
Name: count, dtype: int64
woc_gese
34    49
23    49
16    48
21    47
19    47
      ..
62     2
56     2
65     2
9      1
68     1
Name: count, Length: 61, dtype: int64
asi_ges
10    89
11    87
8     82
13    80
12    74
14    74
6     70
7     67
9     60
3     56
17    55
18    55
15    54
16    54
5     54
4     48
19    46
20    40
2     39
21    36
23    26
1     24
24    24
22    23
0     17
25    15
26    13
28    10
27    10
29     7
30     6
33     5
31     4
32     4
39     3
38     3
41     2
42     2
34     2
35     2
40     2
37     1
46     1
45     1
Name: count, dtype: int64
bsq_ges
1                   82
1.11764705882353    67
1.17647058823529    67
1.41176470588235    64
1.47058823529412    63
                    ..
3.94117647058824     1
1.9375               1
2.875                1
3.21428571428571     1
1.5625               1
Name: count, Length: 63, dtype: int64
das_ges
110    33
116    32
111    31
115    30
102    30
       ..
55      1
182     1
213     1
57      1
67      1
Name: count, Length: 132, dtype: int64
scl_gsi
.122222222222222     41
.177777777777778     39
.133333333333333     39
.0555555555555556    36
.1                   36
                     ..
.659090909090909      1
1.1                   1
1.24719101123595      1
.833333333333333      1
1.5                   1
Name: count, Length: 211, dtype: int64
fqn_ges
8     63
0     63
2     60
3     57
4     57
      ..
61     1
56     1
73     1
72     1
53     1
Name: count, Length: 67, dtype: int64
bdi_ges
0     198
1     165
4     137
2     136
3     133
5     112
6      98
7      93
8      75
9      57
11     40
10     38
12     28
13     19
18     15
14     14
16     13
17     11
15      9
19      8
20      6
21      5
25      3
23      3
26      2
28      2
30      1
22      1
24      1
31      1
35      1
29      1
53      1
Name: count, dtype: int64
bai_ges
0     246
2     175
1     171
3     159
4     133
5     120
6      82
7      67
9      43
8      42
13     28
10     27
11     26
15     21
12     20
17     12
14     10
18      8
21      7
19      6
16      6
20      4
22      4
23      2
25      2
26      2
28      2
34      1
33      1
24      1
31      1
Name: count, dtype: int64
ifa_int
0     781
2     379
4     161
6      66
8      20
10      8
5       4
12      3
7       2
16      1
9       1
Name: count, dtype: int64
ifa_ext
4     321
6     294
2     242
8     216
10    129
0      82
12     67
14     39
16     16
18      8
7       3
11      3
9       2
20      2
Name: count, dtype: int64
alter
21    297
23    246
22    244
25    218
24    209
20    166
26    101
29      1
Name: count, dtype: int64
sex
2    1482
Name: count, dtype: int64
bild
2    878
1    444
3    160
Name: count, dtype: int64
screen
0    686
1    397
2    218
3     82
4     32
5      9
Name: count, dtype: int64
bmi
20.7612456747405    22
19.0311418685121    20
21.2244897959184    17
19.53125            15
20.5498866213152    13
                    ..
25.5102040816327     1
26.9896193771626     1
32.660763536072      1
28.734672057202      1
25.4580659041199     1
Name: count, Length: 576, dtype: int64
bmi_kat
2    1088
1     307
3     113
4      19
Name: count, dtype: int64
ses_kom
2     962
1     440
3     131
99      5
Name: count, dtype: int64
whi_gesy
0     534
1     410
2     216
3     128
4      69
6      37
5      29
7      21
8      15
9       7
10      4
11      4
12      3
13      2
Name: count, dtype: int64
soz_gesy
4.90909090909091    100
4.81818181818182     95
4.86363636363636     91
4.72727272727273     84
5                    83
                   ...
2.72727272727273      1
4.7                   1
3.9047619047619       1
4.90476190476191      1
4.25                  1
Name: count, Length: 86, dtype: int64
gke_gesy
30    217
29    163
28    131
31    114
27    102
26     94
32     93
33     83
25     68
34     60
24     52
23     48
35     46
36     40
22     36
37     23
21     22
38     20
19     14
40     11
18      9
39      8
20      8
17      5
15      3
16      3
12      2
11      1
10      1
14      1
Name: count, dtype: int64
lzh_gesy
3.66666666666667    101
3.83333333333333    100
3.91666666666667     91
3.75                 86
4.08333333333333     84
                   ...
3.8                   1
1.66666666666667      1
1.25                  1
4.36363636363636      1
3.27272727272727      1
Name: count, Length: 61, dtype: int64
asi_gesy
8     100
5      96
6      87
9      85
10     81
7      80
3      75
4      72
11     72
12     66
13     61
2      55
16     52
15     52
18     50
14     48
17     47
1      45
0      40
20     26
21     23
22     19
19     19
23     17
26     16
24     13
28     13
27     12
25     10
29      8
33      8
30      7
32      4
36      3
35      3
42      2
43      2
31      2
46      1
39      1
38      1
51      1
44      1
37      1
34      1
49      1
45      1
Name: count, dtype: int64
bsq_gesy
1                   149
1.29411764705882     86
1.05882352941176     78
1.11764705882353     78
1.17647058823529     72
                   ...
1.5                   1
1.8125                1
1.1875                1
2.86666666666667      1
1.9375                1
Name: count, Length: 70, dtype: int64
das_gesy
103    33
112    33
109    30
98     30
115    28
       ..
174     1
189     1
162     1
239     1
177     1
Name: count, Length: 131, dtype: int64
scl_gsiy
.0444444444444444    62
.0333333333333333    60
.0555555555555556    58
.0888888888888889    56
.0777777777777778    52
                     ..
.579545454545455      1
.325842696629214      1
.711111111111111      1
.707865168539326      1
.337078651685393      1
Name: count, Length: 170, dtype: int64
fqn_gesy
0     133
4      78
5      72
10     69
2      69
     ...
80      1
62      1
39      1
70      1
67      1
Name: count, Length: 66, dtype: int64
bdi_gesy
0     323
1     198
2     179
3     157
4     119
5     104
6      79
7      66
9      46
8      45
10     34
11     30
12     15
13     15
14     11
16     11
15     11
17      5
19      5
20      4
18      4
25      3
22      3
27      3
24      2
34      2
28      2
40      1
29      1
21      1
31      1
26      1
Name: count, dtype: int64
bai_gesy
0     369
1     240
2     196
3     147
4     120
5      75
6      62
8      51
7      38
9      36
10     22
11     19
12     19
14     14
16      9
13      9
17      8
18      5
26      4
21      4
24      4
33      3
15      3
27      3
19      3
23      3
28      2
22      2
32      1
25      1
31      1
20      1
29      1
30      1
Name: count, dtype: int64
ifa_inty
0     1000
2      300
4      104
6       34
8       13
10       8
16       3
5        2
15       2
14       2
3        1
12       1
7        1
9        1
18       1
19       1
Name: count, dtype: int64
ifa_exty
4     343
6     298
2     264
8     181
0     139
10    114
12     59
14     24
16     13
18     10
5       4
25      4
7       3
9       3
20      2
11      1
15      1
26      1
28      1
24      1
23      1
Name: count, dtype: int64
bmiy
20.7612456747405    23
19.0311418685121    16
20.2812330989724    14
23.0300453514739    12
18.3391003460208    12
                    ..
23.2550186382135     1
21.5510204081633     1
22.206330686138      1
27.281746031746      1
17.6470588235294     1
Name: count, Length: 594, dtype: int64
bmi_katy
2    1125
1     273
3     103
4      34
Name: count, dtype: int64
hpi
0    1110
1     428
Name: count, dtype: int64

In [51]:
data["ses_kom"] = data["ses_kom"].replace(99, np.nan)

## 1.3 Data types

In [52]:
for col in data.columns:
    print(col, data[col].dtype)

whi_ges object
soz_ges object
gke_ges object
lzh_ges object
ile_sum1 object
ile_sum2 object
woc_gesp object
woc_gese object
asi_ges object
bsq_ges object
das_ges object
scl_gsi object
fqn_ges object
bdi_ges object
bai_ges object
ifa_int object
ifa_ext object
alter object
sex object
bild object
screen object
bmi object
bmi_kat object
ses_kom float64
whi_gesy object
soz_gesy object
gke_gesy object
lzh_gesy object
asi_gesy object
bsq_gesy object
das_gesy object
scl_gsiy object
fqn_gesy object
bdi_gesy object
bai_gesy object
ifa_inty object
ifa_exty object
bmiy object
bmi_katy object
hpi int64

In [53]:
# convert all columns to float
data = data.astype(float)

for col in data.columns:
    print(col, data[col].dtype)

whi_ges float64
soz_ges float64
gke_ges float64
lzh_ges float64
ile_sum1 float64
ile_sum2 float64
woc_gesp float64
woc_gese float64
asi_ges float64
bsq_ges float64
das_ges float64
scl_gsi float64
fqn_ges float64
bdi_ges float64
bai_ges float64
ifa_int float64
ifa_ext float64
alter float64
sex float64
bild float64
screen float64
bmi float64
bmi_kat float64
ses_kom float64
whi_gesy float64
soz_gesy float64
gke_gesy float64
lzh_gesy float64
asi_gesy float64
bsq_gesy float64
das_gesy float64
scl_gsiy float64
fqn_gesy float64
bdi_gesy float64
bai_gesy float64
ifa_inty float64
ifa_exty float64
bmiy float64
bmi_katy float64
hpi float64

## 1.4 Save data

In [54]:
data.to_csv("../dat/dips/DIPS_Data_cleaned.csv", sep = ",", index = False)

# 2 Data Exploration