# Unification of Knowledge: Best Prompt OR Best ML Model

Ensemble of the best response generated by the LLM and prompts, along with the best ML model for classification: based on a logical OR operation

## 0 Imports

In [1]:
import pandas as pd
import numpy as np

In [21]:
# y_pred_lr = pd.read_csv("y_pred_ML/y_pred_lr.csv", sep = ",")
# y_pred_rf = pd.read_csv("y_pred_ML/y_pred_rf.csv", sep = ",")
y_pred_svc = pd.read_csv("y_pred_ML/y_pred_svc.csv", sep = ",")
y_pred_dnn = pd.read_csv("y_pred_ML/y_pred_dnn.csv", sep = ",") # good
# y_pred_knn = pd.read_csv("y_pred_ML/y_pred_knn.csv", sep = ",")
# y_pred_nb = pd.read_csv("y_pred_ML/y_pred_nb.csv", sep = ",")
# y_pred_xgb = pd.read_csv("y_pred_ML/y_pred_xgb.csv", sep = ",")

In [22]:
y_pred_Gemma_few_shot_prompt = pd.read_csv("y_pred_LLMs/Gemma/y_pred_gemma_few_shot_prompt.csv", sep = ",")
y_pred_Grok_few_shot_prompt = pd.read_csv("y_pred_LLMs/Grok/y_pred_Grok_few_shot_prompt.csv", sep = ",")
y_pred_GPT_o3_cot_prompt = pd.read_csv("y_pred_LLMs/GPT/y_pred_GPT_o3_cot_prompt.csv", sep = ",") # good

## 1 Best LLM OR Best ML Model

In [23]:
# concat the predictions of the best LLM and the best ML model
df_models = pd.concat([y_pred_Gemma_few_shot_prompt, y_pred_dnn], axis=1)

# apply logical OR operation on the predictions
y_pred_OR = pd.DataFrame({
    'y_pred': [0] * len(df_models),
})

for i in range(len(df_models)):
    if df_models.iloc[i, 0] == 1 or df_models.iloc[i, 1] == 1:
        y_pred_OR.iloc[i, 0] = 1
    else:
        y_pred_OR.iloc[i, 0] = 0

In [24]:
y_pred_OR.to_csv("../exp/y_pred_unification/OR_unification/y_pred_best_LLM_or_best_ML.csv", sep = ",", index = False)

In [25]:
df_models

     y_pred  y_pred
0         0     0.0
1         1     0.0
2         0     0.0
3         0     0.0
4         1     0.0
..      ...     ...
241       1     0.0
242       0     0.0
243       0     1.0
244       1     0.0
245       1     0.0

[246 rows x 2 columns]

In [26]:
y_pred_OR

     y_pred
0         0
1         1
2         0
3         0
4         1
..      ...
241       1
242       0
243       1
244       1
245       1

[246 rows x 1 columns]

In [19]:
# # do the same for all ML mdoels and best LLM OR operation
# df_models = pd.concat([y_pred_Gemma_few_shot_prompt, y_pred_GPT_o3_cot_prompt, y_pred_Grok_few_shot_prompt, y_pred_lr, y_pred_rf, y_pred_svc, y_pred_dnn, y_pred_knn, y_pred_nb, y_pred_xgb], axis=1)
#
# # apply logical OR operation on the predictions
# y_pred_OR = pd.DataFrame({
#     'y_pred': [0] * len(df_models),
# })
#
# for i in range(len(df_models)):
#     if df_models.iloc[i, 0] == 1 or df_models.iloc[i, 1] == 1 or df_models.iloc[i, 2] == 1 or df_models.iloc[i, 3] == 1 or df_models.iloc[i, 4] == 1 or df_models.iloc[i, 5] == 1 or df_models.iloc[i, 6] == 1 or df_models.iloc[i, 7] == 1:
#         y_pred_OR.iloc[i, 0] = 1
#     else:
#         y_pred_OR.iloc[i, 0] = 0
#
# y_pred_OR

     y_pred
0         1
1         1
2         0
3         1
4         1
..      ...
241       1
242       0
243       0
244       1
245       1

[246 rows x 1 columns]